<strong>Olá, {{ name }}!</strong>
<p>Sua matrícula foi efetuada com sucesso! Agora você também faz parte da família Gympoint!</p>
<p>Confira abaixo os dados da sua matrícula:</p>
<p>
  <strong>Data de início: </strong> {{ start_date }} <br />
  <strong>Data de térmno: </strong> {{ end_date }} <br />
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Investimento: </strong> {{ price }} <br />
</p>
<p>Já estamos te esperando!!!</p>
