<strong>Olá, {{ name }}!</strong>
<p>Sua matricula foi efetuada com sucesso!&nbspAgora você também faz parte da família Gympoint!</p>
<p>Confira abaixo os dados da sua matŕicula:</p>
<p>
  <strong>Data de início: </strong> {{ start_date }} <br />
  <strong>Data de térmno: </strong> {{ end_date }} <br />
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Investimento: </strong> R${{ price }} <br />
  <br />
</p>
<p>Já estamos te esperando!!!</p>
